<div class="main">
  <h1 class="" id="title">Cookies</h1>
  <div class="dropdown"></div>
</div>
<section id="cookies">
  <p>
    「 <strong> 本 Cookie 政策 </strong> 」適用於 ({{ comp_name }}) 及關係企業 (「本公司」) 在貴用戶造訪及使用本公司網站時所蒐集及使用的資訊。此為透過稱為 Cookie 的工具及其他技術，在本公司的網站上設定並與 Cookie 互動所蒐集的資訊，其中包括如像素標記及網路信標等工具。所稱「關係企業」一詞是指{{ comp_name }}
     及在貴用戶所在國家蒐集與處理貴用戶個人資訊的{{ comp_name }}關係企業。
  </p>
  <p>
    本 Cookie 政策係解釋什麼是 Cookie，本公司使用哪些 Cookie 及理由，以及貴用戶可以如何管理 Cookie 偏好設定。如果本公司透過 Cookie 所蒐集的任何資訊符合個人資料的定義，則本公司的 <a href="../privacy" target="_self"> 隱私權政策 </a> 適用於蒐集及使用該資料。請仔細閱讀本 Cookie 政策及 <a
      href="../privacy" target="_self"> 隱私權政策 </a> 。
  </p>
  <ul>
    <li><a href="#topic-1-1"> 什麼是 Cookie？ </a></li>
    <li><a href="#topic-1-2"> Cookie 的來源與類別 </a></li>
    <li><a href="#topic-1-3"> 本公司如何使用 Cookie </a></li>
    <li><a href="#topic-1-4"> 如何控制 Cookie </a></li>
    <li><a href="#topic-1-5"> 電子郵件追蹤 </a></li>
    <li><a href="#topic-1-6"> 不追蹤 </a></li>
  </ul>
  <h2>
    <a class="pos" name="topic-1-1"> </a> 什麼是 Cookie？
  </h2>
  <p>Cookie 是一個小型文字檔案，當貴用戶造訪本網站時，本網站會將 Cookie 儲存在貴用戶的電腦或行動裝置上。此小型文字檔案可能包含一個唯一標識符，用於區分貴用戶的電腦或行動裝置及其他設備。本公司在本政策中使用名詞「Cookie」以稱呼網站 Cookie，亦指類似的技術，可在貴用戶造訪本公司的網站時自動蒐集資訊 (例如像素標記及網路信標)。</p>
  <h2>
    <a class="pos" name="topic-1-2"> </a> Cookie 的來源與類別
  </h2>
  <p>
    本公司的 Cookie 是第一方或第三方 Cookie。Cookie 是 <strong> 「第一」 </strong> 方或 <strong> 「第三」 </strong> 方 Cookie，視放置Cookie 的網站或網域而定。在本 Cookie 政策所稱的第一方 Cookie，Cookie 是本公司設置的 Cookie，本公司接收此類 Cookie 蒐集的所有資訊，而第三方
    Cookie 則是由本公司業務往來的其他方設置。當貴用戶造訪本公司的網站時，上述相關方可能會在貴用戶的瀏覽器上放置獨特的 Cookie，蒐集有關 貴用戶對網站的使用情況與可能的其他線上活動，以及不同網站與應用程式之資訊。此類第三方直接從貴用戶的網路瀏覽器蒐集資料，以及該第三方就此類資料之處理，須以其隱私權政策為準。
  </p>
  <p>
    <strong> 第一方 </strong> 或 <strong> 第三方 </strong> Cookie 分類為 <strong> 「持續性Cookie」 </strong> 或 <strong> 「工作階段狀態Cookie」 </strong> ，視其持續時間而定：
  </p>
  <ul>
    <li><strong> 持續性 Cookie (Persistent Cookie) </strong> 儲存在貴用戶的設備瀏覽器工作階段中，並允許記住貴用戶在本公司網站 (或在某些情況下跨越不同網站) 的偏好或操作。持續性 Cookie 可用於多種用途，包括在使用本公司的網站時記住貴用戶的偏好及選擇或定向廣告。此類 Cookie
      在瀏覽器工作階段關閉後除非貴用戶禁用此功能，否則不會失效，將會繼續留在貴用戶的設備上，直到 Cookie 來源設定的失效日期為止。</li>
    <li><strong> 工作階段狀態Cookie (Session Cookie) </strong> 允許本公司在單個瀏覽器工作階段期間連結貴用戶的操作。工作階段在貴用戶打開瀏覽器視窗時開始，並在瀏覽器視窗關閉時結束，隨後會刪除所有會話 Cookie。本公司可能會將此類 Cookie 用於各種用途，例如記住在上次造訪頁面所點擊的內容。</li>
  </ul>
  <h2>
    <a class="pos" name="topic-1-3"> </a> 本公司如何使用 Cookie？
  </h2>
  <p>請注意，不同的 Cookie 具有不同的功能，以下是本網站上使用的 Cookie 簡介。</p>
  <table>
    <tbody>
      <tr>
        <td width="30%">必要的 Cookie</td>
        <td width="70%">此類 Cookie 對本公司的網站能否正確運作至關重要，可使貴用戶能瀏覽本公司的網站並使用本公司網站的功能。如果沒有此類 Cookie，貴用戶將無法瀏覽網頁或使用本公司網站的特定重要功能。如果貴用戶不希望本公司蒐集此類資訊，則貴用戶須立即停止使用本公司的網站。透過繼續使用本公司的網站，視為貴用戶了解此類必要的 Cookie
          對提供此類服務至關重要，並同意此類Cookie被適當放置在貴用戶的瀏覽器中。</td>
      </tr>
      <tr>
        <td>性能 Cookie</td>
        <td>此類 Cookie 蒐集並通報不具識別性的彙總資訊，此有助於本公司瞭解網站的性能，並提供關於網站目前如何使用及如何改善造訪者的使用體驗。此類 Cookie 提供的資訊包括貴用戶造訪的區域、在網站上花費的時間及遇到的任何問題，例如錯誤消息。</td>
      </tr>
      <tr>
        <td>功能性Cookie</td>
        <td>此類 Cookie 允許本公司的網站紀錄貴用戶以前是否造訪過該網站或貴用戶所做的選擇 (例如貴用戶的語言、地區或偏好)，以提供更加個性化的線上體驗。</td>
      </tr>
      <tr>
        <td>廣告 Cookie</td>
        <td>此類 Cookie 用於提供與貴用戶本身及貴用戶的興趣更相關的內容。可能用於提供具有目標性的廣告或限制貴用戶看到廣告的次數。</td>
      </tr>
    </tbody>
  </table>
  <br> <br>
  <p>貴用戶可瞭解更多關於本公司網站上使用的個別 Cookie 或本公司發送的電子郵件及所使用的用途，如下表所示：</p>
  <table>
    <tbody>
      <tr>
        <th width="25%"><strong> Cookie 類別 </strong></th>
        <th width="15%"><strong> 名稱 </strong></th>
        <th width="60%"><strong> 目的 </strong></th>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://www.appnexus.com/en/company/platform-privacy-policy" target="_blank" title="Click Here"> AppNexus </a></td>
        <td>廣告投放、作為提供廣告內容之用途、分析/測量、內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://www.appnexus.com/en/company/platform-privacy-policy" target="_blank" title="Click Here">
            https://www.appnexus.com/en/company/platform-privacy-policy </a> 瞭解此第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td><a href="https://support.google.com/dfp_premium/answer/2839090" target="_blank" title="Click Here"> DoubleClick </a></td>
        <td>廣告投放、作為提供廣告內容之用途、分析/測量、內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://support.google.com/dfp_premium/answer/2839090" target="_blank" title="Click Here">
            https://support.google.com/dfp_premium/answer/2839090 </a> 瞭解此第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://support.google.com/ads/answer/2662922" target="_blank" title="Click Here"> Google AdWords </a></td>
        <td>作為提供廣告內容之用途、廣告定向、分析/測量、內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://support.google.com/ads/answer/2662922" target="_blank" title="Click Here">
            https://support.google.com/ads/answer/2662922 </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://kenshoo.com/privacy-policy/" target="_blank" title="Click Here"> Kenshoo </a></td>
        <td>作為提供廣告內容之用途、分析/測量 <br> <br> 貴用戶可在 <a href="https://kenshoo.com/privacy-policy/" target="_blank" title="Click Here"> https://kenshoo.com/privacy-policy/ </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://www.home.neustar/privacy" target="_blank" title="Click Here"> Neustar PlatformOne </a></td>
        <td>廣告投放、作為提供廣告內容之用途、分析/測量、內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://www.home.neustar/privacy" target="_blank" title="Click Here"> https://www.home.neustar/privacy </a> 瞭解此類第三方
          Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie </strong></td>
        <td><a href="https://www.optimizely.com/legal/opt-out/" target="_blank" title="Click Here"> 優化 </a></td>
        <td>分析/測量、優化 <br> <br> 貴用戶可在 <a href="https://www.optimizely.com/legal/opt-out/" target="_blank" title="Click Here"> https://www.optimizely.com/legal/opt-out/ </a> 瞭解此類第三方
          Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie </strong></td>
        <td>Adobe Marketing Cloud (Analytics)</td>
        <td>分析/測量、優化 <br> <br> 貴用戶可在 <a href="https://www.adobe.com/privacy/opt-out.html" target="_blank" title="Click Here"> https://www.adobe.com/privacy/opt-out.html </a> 瞭解此類第三方
          Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie </strong></td>
        <td><a href="https://tools.google.com/dlpage/gaoptout" target="_blank" title="Click Here"> Google Analytics </a></td>
        <td>作為提供廣告內容之用途、分析/測量、優化 <br> <br> 貴用戶可在 <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" title="Click Here"> https://tools.google.com/dlpage/gaoptout </a>
          瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://privacy.tapad.com/optout.html" target="_blank" title="Click Here"> Tapad </a></td>
        <td>廣告投放、作為提供廣告內容之用途、分析/測量、內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://www.tapad.com/privacy-policy" target="_blank" title="Click Here"> https://www.tapad.com/privacy-policy </a>
          瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://www.oracle.com/marketingcloud/opt-status.html" target="_blank" title="Click Here"> Maxymiser </a></td>
        <td>內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://www.oracle.com/marketingcloud/opt-status.html" target="_blank" title="Click Here">
            https://www.oracle.com/marketingcloud/opt-status.html </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td><a href="https://www.facebook.com/policies/cookies/" target="_blank" title="Click Here"> Facebook Pixel </a></td>
        <td>廣告投放、作為提供廣告內容之用途、內容客製化 <br> <br> 貴用戶可以在 <a href="https://www.facebook.com/policies/cookies/" target="_blank" title="Click Here">
            https://www.facebook.com/policies/cookies/ </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td><a href="https://advertise.bingads.microsoft.com/en-us/resources/policies/opt-out-of-the-bing-ads-optimization-program" target="_blank" title="Click Here"> Microsoft Bing Ads </a>
          (以前稱為Microsoft adCenter)</td>
        <td>廣告投放、作為提供廣告內容之用途、分析/測量 <br> <br> 貴用戶可在 <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank" title="Click Here">
            https://privacy.microsoft.com/en-us/privacystatement </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td><a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="_blank" title="Click Here"> Twitter Analytics </a></td>
        <td>作為提供廣告內容之用途、分析/測量，內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="_blank" title="Click Here">
            https://help.twitter.com/en/rules-and-policies/twitter-cookies </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td>Woopra</td>
        <td>作為提供廣告內容之用途、分析/測量，內容客製化、優化 <br> <br> 貴用戶可在 <a href="https://www.woopra.com/privacy/" target="_blank" title="Click Here"> https://www.woopra.com/privacy/ </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie </strong></td>
        <td>Mouseflow</td>
        <td>分析/測量 <br> <br> 貴用戶可在 <a href="https://mouseflow.com/opt-out/" target="_blank" title="Click Here"> https://mouseflow.com/opt-out/ </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td>Survicate</td>
        <td>內容客製化 <br> <br> 貴用戶可在 <a href="https://help.survicate.com/need-to-know/faq/what-sort-of-cookies-does-survicate-use" target="_blank" title="Click Here">
            https://help.survicate.com/need-to-know/faq/what-sort-of-cookies-does-survicate-use </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie、廣告 Cookie </strong></td>
        <td>MailChimp</td>
        <td>用戶電子郵件活動 <br> <br> 貴用戶可在 <a href="https://mailchimp.com/legal/cookies/" target="_blank" title="Click Here"> https://mailchimp.com/legal/cookies/ </a> 瞭解此類第三方 Cookie
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td>OwnerIQ</td>
        <td>作為提供廣告內容之用途 <br> <br> 貴用戶可在此處瞭解此類第三方 Cookie <br> <a href="https://www.owneriq.com/privacy-notice" target="_blank" title="Click Here">
            https://www.owneriq.com/privacy-notice </a>
        </td>
      </tr>
      <tr>
        <td><strong> 廣告 Cookie </strong></td>
        <td>ONE by AOL</td>
        <td>作為提供廣告內容之用途 <br> <br> 貴用戶可在此處瞭解此類第三方 Cookie <br> <a href="https://policies.oath.com/xw/en/oath/privacy/intl/index.html" target="_blank" title="Click Here">
            https://policies.oath.com/xw/en/oath/privacy/intl/index.html </a>
        </td>
      </tr>
      <tr>
        <td><strong> 性能 Cookie </strong></td>
        <td>百度</td>
        <td>作為提供廣告內容之用途、分析/測量，內容客製化、優化 <br> <br> <a href="https://www.baidu.com/duty/yinsiquan.html" target="_blank" title="Click Here"> https://www.baidu.com/duty/yinsiquan.html </a>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>
    <a class="pos" name="topic-1-4"> </a> 如何控制 Cookie
  </h2>
  <p>部分 Cookie的使用 並非網站運作所必要，但會為貴用戶提供更好的瀏覽體驗，並允許本公司及其第三方合作夥伴確保本公司展示的內容、貴用戶在線上看到的廣告及行銷資訊能更與貴用戶相關並貼近貴用戶的興趣。貴用戶可刪除或關閉此類 Cookie，但如果貴用戶這樣做，則每次造訪本公司的網站時都可能需要手動調整一些偏好設定，而網站的有些功能即可能無法按照預期方式運作。</p>
  <p>下列範例說明貴用戶如何管理或刪除透過本公司網站所提供的許多 Cookie：</p>
  <table>
    <tbody>
      <tr>
        <td width="30%">Cookie 選擇停用連結</td>
        <td width="70%">貴用戶可使用上述提供的連結以管理或選擇停用透過本公司網站提供的許多 Cookie 特定用途。</td>
      </tr>
      <tr>
        <td>產業選擇停用網站</td>
        <td>貴用戶亦可透過造訪下列網站，選擇停用 {{ comp_name }} 許多第三方廣告合作夥伴基於廣告目的所設置的 Cookie： <br> <br> <a href="https://optout.aboutads.info/?c=2#!/" target="_blank" title="Click Here">
            https://optout.aboutads.info/?c=2#!/ </a> 或 <a href="https://optout.networkadvertising.org/#!/" target="_blank" title="Click Here"> https://optout.networkadvertising.org/#!/ </a>
        </td>
      </tr>
      <tr>
        <td>瀏覽器設定</td>
        <td>許多網路瀏覽器預設接受 Cookie。如果貴用戶希望，則貴用戶通常可以更改瀏覽器之設定以拒絕及/或移除許多 Cookie。如果貴用戶使用不同的設備查看及造訪本公司的網站 (例如貴用戶的電腦、智慧型手機，平板電腦等)，則貴用戶需要確保您在每台設備上的每個瀏覽器都均調整Cookie 偏好設定。 <br> <br> <a
          href="https://www.aboutcookies.org/how-to-control-cookies/" target="_blank" title="Click Here"> <u> 請點擊這裡以查看有關 Cookie 的更多資訊及如何管理。 </u>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>
    <a class="pos" name="topic-1-5"> </a> 電子郵件追蹤
  </h2>
  <p>本公司也可能使用 Cookie 或類似的電子郵件追蹤技術，以瞭解本公司運營的電子郵件活動的成效 (例如，記錄活動中所打開的電子郵件數量、以及閱讀該電子郵件的 IP 地址、瀏覽器或電子郵件收受終端設備的類型)。如果貴用戶不希望本公司追蹤本公司發送給貴用戶的電子郵件，則有些電子郵件服務可讓貴用戶更改貴用戶的顯示器以關閉 HTML
    或禁用圖像下載；行使此類權利應可有效禁止本公司的電子郵件追蹤。此外，貴用戶亦可按照此類電子郵件中的說明，取消訂閱本公司的行銷電子郵件。</p>
  <h2>
    <a class="pos" name="topic-1-6"> </a> 不追蹤
  </h2>
  <p>
    有些網路瀏覽器包括傳送「不追蹤」信號的功能。由於「不追蹤」信號的統一標準尚未被採用，因此 {{ comp_name }} 目前不處理或回應「不追蹤」信號。如欲詳細瞭解「不追蹤」，請造訪「 <a href="https://allaboutdnt.com/" target="_blank" title="Click Here"> 不追蹤所有相關介紹 </a> 」。
  </p>
  <p>除了「不追蹤」外，網路瀏覽器信號與類似機制還有許多方式可指示貴用戶的追蹤選擇，而本公司可能不會瞭解亦不可能遵循每一種機制。</p>
  <h2>聯絡本公司</h2>
  <p>
    本公司非常歡迎貴用戶就本政策提供相關的意見或問題。請發送電子郵件至 <a href="mailto:{{ comp_email }}"> {{ comp_email }} </a> 。
  </p>
</section>
</div>